---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Ethernauts!</h1>
			<p>
				I am product engineer, that has learned a lot about what not to do.
				I strive to avoid unnecessary tasks in my life and in also in the lives all those around me who would benefit from simplicity.
			</p>
			<p>
				These days I am building my own ideas in the public. A wish list app called "<a href="https://digitalcraft.cl">Lista de deseos</a>"
			</p>
			<p>
				Previously, I have been coding and learning from experience in teams related to industries like finance, airlines and crypto.
			</p>
			<p>If you need help, I am looking forward to work with you, hopefully in topics like:</p>
			<ul>
				<li>Design Systems</li>
				<li>Test Driven Development</li>
				<li>Dev teams common struggles and best practices</li>
			</ul>
			<p>
				Even though I have a more diverse experience, I want to be honest about what really interests me right now. 
				This will definitely make my focus and energy into helping a sinergy.
			</p>
			<p>
				Feel that we need to talk or just want to say hi? Please do at <a href="mailto:tomasbarrios@gmail.com">tomasbarrios at gmail.com</a>.
				I look forward to it.
			</p>
		</main>
		<Footer />
	</body>
</html>
