---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Ethernauts!</h1>
			<p>
				I am product engineer, that has learned a lot about what not to do.
				I strive to avoid unnecessary tasks in my life and and also in the lives all those around me who would benefit from simplicity.
			</p>
			<p>
				These days I am building my own ideas in the public. A wish list app called "<a href="https://digitalcraft.cl">Lista de deseos</a>"
			</p>
			<p>
				Previously, I have been coding and learning from experience in teams related to industries like finance, airlines and crypto.
			</p>
			<p>If you are struggling on aspects like what to do, 
				how to prioritize the devs work, 
				shipping more often
				or you just want some consulting on how to start
				I feel you. We have al been there, 
				but the industry does not like admitting that this things are the still unsolved big issues that need to be addressed.
			</p>
			<p>This days I am focusing on </p>
			<ul>
				<li>Identifying what is not important, aka: prioritize</li>
				<li>Dev teams common struggles and best practices</li>
				<li>Test Driven Development</li>
				<li>Design Systems</li>
			</ul>
			<p>
				Even though I have a more diverse experience than those topics, 
				I want to be honest about what really interests me right now. 
				This will definitely make my focus and energy more in sinergy with your project.
			</p>
			<p>
				Feel that you could find some advice from a chat with me or just want to say hi? Please do at <a href="mailto:tomasbarrios@gmail.com">tomasbarrios@gmail.com</a>.
				I look forward to it.
			</p>
		</main>
		<Footer />
	</body>
</html>
