---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Ethernauts!</h1>
			<p>
				I am software engineer, with over 15 years of experience in web technologies.
			</p>
			<p>
				After all this years, I have learned a lot about what not to do.
				I strive to avoid unnecessary tasks in my life and and also in the lives all those around me who would benefit from simplicity.
			</p>
			<p>
				These days, I am actively engaged in building my own ideas in the public. One such project is 
				"<a href="https://digitalcraft.cl">Lista de deseos</a>" 
				(<a href="https://github.com/tomasbarrios/arch-target-mvp-refs/">source</a>), 
				a wish list app that focuses on simplicity and minimalism.
			</p>
			<p>
				Previously, I have been coding in projects related to industries like finance, airlines and crypto. 
				After all these experiences with diverse teams, I have not only learn more about code, 
				but more important, about how to build what the business needs by identifying what things do not matter or do not support the goal.
				As of this, I now consider myself more like a product engineer. Even though that is not a established term, yet.
			</p>
			<p>If you find yourself struggling with challenges like task prioritization, 
				improving development team productivity, 
				or seeking guidance on project initiation, I understand your concerns. 
				These are common issues that often go unaddressed in the industry, and I aim to change that.
			</p>
			<p>Currently, I am focusing on </p>
			<ul>
				<li>Prioritizing tasks effectively</li>
				<li>Understanding common struggles faced by development teams and sharing best practices</li>
				<li>Implementing Test Driven Development methodologies</li>
				<li>Creating and implementing Design Systems</li>
			</ul>
			<p>
				While my experience extends beyond these specific topics, 
				I want to be transparent about my current interests. 
				By aligning my focus and energy with your project's requirements, I can provide a more targeted and impactful contribution to your success.
			</p>
			<p>
				Feel that you could find some advice from a chat with me or want to share something? Please do at <a href="mailto:tomasbarrios@gmail.com">tomasbarrios@gmail.com</a>.
				I look forward to it.
			</p>
		</main>
		<Footer />
	</body>
</html>
