---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Learning"
	description="Topics I want to dig deeper"
	pubDate={new Date('June 20 2023')}
	updatedDate={new Date('June 2023')}
>
	<p>
		There are some topics <b>I want to get a deeper knowledge</b>
	</p>
    <p>
        In order of personal interest:
    </p>
    <ol>
        <li>Web Components</li>
        <li>Pura Vanilla JS web development (no framework)</li>
        <li>PKM Tools like Obsidian</li>
    </ol>
    <p>
        If any of these are part of your interests or are technologies you are already incorported in your projects, 
        I would definitelty be very interested in hearing about your current experience.
    </p>
    

	

</Layout>
